# ampEducator
AMP_BASE_URL=https://infocus.ampeducator.ca
AMP_LEAD_PROVIDER_PATH=/web/public/prospects/leads

# HubSpot
HUBSPOT_API_TOKEN=
HUBSPOT_WEBHOOK_SECRET=
HUBSPOT_CLOSED_WON_STAGE_ID=
HUBSPOT_PORTAL_ID=

# App
DATABASE_URL=
JWT_SECRET=
NODE_ENV=production
PORT=3000
ADMIN_EMAIL=dj@mcgcollege.ca
SLACK_WEBHOOK_URL=
APP_BASE_URL=
